{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            
                <h1><span>TO DO</h1>
                <h2><span>Cargar Fichero XML</h2>


                
                {{ form_start(formulario, {'enctype':'multipart/form-data'} ) }}                    
                    
                {{ form_end(formulario) }}                    
            
        </div>
    </div>
{% endblock %}

