{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="api_post_bd">                
                <h2><span>Cargar Fichero XML</h2>
                
                {{ form_start(formulario) }}                    
                    
                {{ form_end(formulario) }}
                    
            </div>           
        </div>
    </div>
{% endblock %}

