{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <h1><span>Leer Fichero XML - simpleXML</h2>

            <strong> Tiempo de ejecución del script </strong>: {{ eficiencia }} segundos
            {{ dump(data) }}                        
        
    </div>
{% endblock %}

