{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <h1><span>Leer Fichero XML - simpleXML</h2>

            <strong> Tiempo de ejecución del script </strong> - {{ eficiencia }}  
            {{ dump(data) }}  
            
        <h2><span>Leer Fichero XML - simpleXML</h2>      
        
    </div>
{% endblock %}

